In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/dataset/people.csv")

In [ ]:
data.head(10)

In [ ]:
data['dept'].value_counts()

dept
sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: count, dtype: int64

In [ ]:
data.columns

Index(['satisfactoryLevel', 'lastEvaluation', 'numberOfProjects',
       'avgMonthlyHours', 'timeSpent.company', 'workAccident', 'left',
       'promotionInLast5years', 'dept', 'salary'],
      dtype='object')

In [ ]:
# summary
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfactoryLevel      14999 non-null  float64
 1   lastEvaluation         14999 non-null  float64
 2   numberOfProjects       14999 non-null  int64
 3   avgMonthlyHours        14999 non-null  int64
 4   timeSpent.company      14999 non-null  int64
 5   workAccident           14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotionInLast5years  14999 non-null  int64
 8   dept                   14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [ ]:
# statistical

data.describe()

,satisfactoryLevel,lastEvaluation,numberOfProjects,avgMonthlyHours,timeSpent.company,workAccident,left,promotionInLast5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [ ]:
data.isnull().sum()

satisfactoryLevel        0
lastEvaluation           0
numberOfProjects         0
avgMonthlyHours          0
timeSpent.company        0
workAccident             0
left                     0
promotionInLast5years    0
dept                     0
salary                   0
dtype: int64

In [ ]:
# duplicate values
data[data.duplicated()]

In [ ]:
# removing duplicate values -- data quality,accurate insights,

data= data.drop_duplicates()

In [ ]:
data.head(10)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11991 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfactoryLevel      11991 non-null  float64
 1   lastEvaluation         11991 non-null  float64
 2   numberOfProjects       11991 non-null  int64
 3   avgMonthlyHours        11991 non-null  int64
 4   timeSpent.company      11991 non-null  int64
 5   workAccident           11991 non-null  int64
 6   left                   11991 non-null  int64
 7   promotionInLast5years  11991 non-null  int64
 8   dept                   11991 non-null  object
 9   salary                 11991 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.0+ MB

In [ ]:
# feature extraction

visuals=['dept','numberOfProjects ','timeSpent.company','workAccident','promotionInLast5years','salary']

In [ ]:
visuals

['dept',
 'numberOfProjects ',
 'timeSpent.company',
 'workAccident',
 'promotionInLast5years',
 'salary']

In [ ]:
# plot all features vs left column

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
fig = plt.subplots(figsize=(10,15))
for p,q in enumerate(visuals):
  plt.subplot(3,2,p+1)
  plt.subplots_adjust(hspace=1.0)
  sns.countplot(x=q, data=data,hue='left')
  plt.xticks(rotation=90)